.chat-container {
  width: 80%;
  height: 100%;
  right: 0;
  position: fixed;
  background-color: yellow;

  .input-form {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: gray;

    .msg-input {
      width: 76%;
      background-color: gray;

      textarea {
        outline: none;
        resize: none;
      }
    }
  }

}
