<div class="centering">
  <mat-card class="log-card">
    <form [formGroup]="form" (ngSubmit)="login()">
      <h3>Bejelentkezés</h3>
      <mat-card id="alertCard" class="alert" *ngIf="alertMessage">
        {{alertMessage}}
      </mat-card>
      <mat-form-field class="max-width">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput placeholder="valami@valami.hu" formControlName="email" required>
      </mat-form-field>
      <mat-form-field class="max-width">
        <mat-label>Jelszó</mat-label>
        <input matInput placeholder="********" formControlName="password" required [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <button type="submit" mat-raised-button color="primary" class="max-width" matRipple
        [disabled]="form.invalid">BEJELENTKEZÉS
      </button>
    </form>
    <button mat-button color="accent" (click)="navTo('/regiszt')" class="max-width" matRipple>REGISZTRÁCIÓ</button>
  </mat-card>
</div>
